/* App.css */
.App{
    background-color: #fcc4ea;
}
.app-container {
    display: flex;
    justify-content: space-between;
}
  
  .bakery-items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(251px, 1fr));
    gap: 20px;
    width: 70%;
  }
  
  .cart-container {
    width: 25%;
    padding: 10px;
    border: 2px solid #000;
    height: fit-content;
  }
  
  